<!doctype html> {% load static %}
<html lang="en">

<head>
	<!-- Required meta tags -->

	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

	<!-- Bootstrap CSS -->
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB"
	 crossorigin="anonymous">
	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.1.1/css/all.css" integrity="sha384-O8whS3fhG2OnA5Kas0Y9l3cfpmYjapjI0E4theH4iuMD+pLhbf6JI0jIMfYcK3yZ"
	 crossorigin="anonymous">
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
	<style type="text/css">
		@import url('https://fonts.googleapis.com/css?family=Sofia');

		.card-img-top {
			width: 100%;
			height: 15vw;
			object-fit: cover;
		}

		.card {
			border: solid 1px #CCC;
			-webkit-filter: drop-shadow(2px 2px 2px #e7e7e782);
			filter: drop-shadow(2px 2px 2px #e7e7e782);
			transition: 0.2s all;
			-webkit-transform: scale(0.9);
			transform: scale(0.99);
			-webkit-filter: grayscale(35%);
			/* Safari 6.0 - 9.0 */
			filter: grayscale(35%);
		}

		.card:hover {
			-webkit-filter: grayscale(0%);
			/* Safari 6.0 - 9.0 */
			filter: grayscale(0%);
			transition: ease .5s;
			cursor: pointer;
			-webkit-transform: scale(1);
			transform: scale(1);
			;
		}

		.card-columns .card {
			margin-bottom: 1.2rem;
		}

		.card:hover {}

		body {}


		nav.whitebg {
			background-color: #ffffff;
			transition: 1s all;
			box-shadow: rgba(218, 218, 218, 0.68) 0px 5px 10px -3px;
		}

		nav {
			color: rgb(240, 206, 206);
			background-color: rgba(255, 255, 255, 0);
			/* box-shadow: rgba(8, 8, 8, 0.68) 0px 5px 10px -3px; */
			transition: 1s all;
		}

		nav .navbar-brand {
			color: #ffffff;
			font-family: 'Sofia', cursive;
			font-size: 22px;
			transition: 1s all;
		}

		nav.whitebg .navbar-brand {
			color: #000;
			transition: 1s all;
		}


		nav.whitebg .navbar-nav a {
			color: #000;
			transition: 1s all;
		}

		nav .navbar-nav a {
			color: #ffffff;
			transition: 1s all;
		}

		nav .navbar-nav .dropdown-menu a {
			color: #808080;
			transition: 1s all;
		}

		nav .navbar-nav .dropdown-menu a:hover {
			color: #000;
			transition: 1s all;
		}

		.large-img {
			box-shadow: 0 2px 5px 0 rgba(0, 0, 0, .16), 0 2px 10px 0 rgba(0, 0, 0, .12);
		}

		.accordion .card-header:after {
			font-family: 'FontAwesome';
			content: "\f068";
			float: right;
		}

		.accordion .card-header.collapsed:after {
			/* symbol for "collapsed" panels */
			content: "\f067";
		}

		.main-image .btn.download {
			bottom: -40px;
			position: absolute;
			transition: 0.5s all;
			left: 0;
			right: 0;
			margin: 0 auto;
		}

		.main-image:hover .btn.download {
			bottom: 0;
			transition: 0.s all;
		}

		.main-image {
			overflow: hidden;
		}

		.accordion .card:first-of-type {
			border-bottom: solid 1px #CCC
		}

		@media(max-width: 768px) {
			.navbar-toggler {
				display: none !important;
			}

			.navbar-brand {
				margin: 0 auto;
			}
		}

		footer {
			padding: 15px 0;
			border-top: solid 1px #ccc;
			background-color: #343a40;
			color: whitesmoke
		}

		footer a{
			color: grey;
		}

		footer a:hover{
			color: whitesmoke;
		}

	
	</style>

	<title>MonPics</title>

</head>

<body>
	<nav class="navbar fixed-top flex-wrap2 flex-md-nowrap p-0">
		<!--        <div class="container-fluid">-->
		<a class="navbar-brand col-auto" href="/" style="    top: -8px;
		text-decoration: underline;">CrustyImages<span style="    position: absolute;
    bottom: -8px;
    font-size: 9px;
    text-transform: uppercase;
    font-family: monospace;
    letter-spacing: 2px;
    word-spacing: 1px;
    left: 18px;
    z-index: 9999999999999999999;">For Web Developers</span></a>

		<button class="navbar-toggler d-md-none mt-1 mr-2" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
		 aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		</button>
		<div class="input-group py-1 px-2 px-md-0">
			<form action="/search/" method="POST" style="display: inherit; width: 100%;">
				{% csrf_token %}
				<div class="input-group">
					<input class="form-control form-control-dark" type="text" name="search" placeholder="Search your dummy image." aria-label="Search"
					 style="border: solid 1px #ffffff;">
					<div class="input-group-append">
						<button class="btn btn-default" type="submit" style="background-color: #ffffff"><i class="fa fa-search" style="color: #e0e0e0"></i></button>
					</div>
				</div>
			</form>
		</div>
		<ul class="navbar-nav navbar-expand-md pl-2 pr-3">
			<div class="collapse navbar-collapse" id="navbarSupportedContent">
				<ul class="navbar-nav mr-auto text-nowrap">
					<li class="nav-item my-1 active">
						<a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
					</li>
					<li class="nav-item dropdown my-1">
						<a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true"
						 aria-expanded="false">
							Categories
						</a>
						<div class="dropdown-menu" aria-labelledby="navbarDropdown">
							{% for cat in catchoice %}
							<a class="dropdown-item" href="/{{cat.cat_name}}/">{{cat.cat_name}}</a>


							{% endfor %}
						</div>
					</li>
					<li class="nav-item my-1 d-none">
						<a href="#" class="nav-link btn"> Help</a>
					</li>
				</ul>
			</div>
		</ul>
		<!--        </div>-->
	</nav>


	{% block content %} {% endblock %}
	<footer>
		<div class="container">
			<div class="row">
				<div class="col-md-6 align-self-center">
					<span class="float-left text-left">
							© 2018 CrustyImages
					</span>
				</div>
				<div class="col-md-6">
					<span class="float-right text-right">
						<a href="">
							<i class="fa fa-facebook-square fa-2x" aria-hidden="true">
							</i>
						</a>
						<a href="">
							<i class="fa fa-twitter-square fa-2x" aria-hidden="true">
							</i>
						</a>
					</span>
				</div>
			</div>

		</div>
	</footer>

	<!--   	{{ p.product_name }}
	{{ p.product_likes }} -->

	<!-- Optional JavaScript -->
	<!-- jQuery first, then Popper.js, then Bootstrap JS -->
	<script src="{% static 'js/jquery-3.1.1.min.js' %}"></script>
	<script src="{% static 'js/jquery.waypoints.min.js' %}"></script>
	<script src="{% static 'js/infinite.min.js' %}"></script> {% block javascript %}{% endblock %}
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
	 crossorigin="anonymous"></script>
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js" integrity="sha384-smHYKdLADwkXOn1EmN1qk/HfnUcbVRZyYmZ4qpPea6sjB/pTJ0euyQp0Mk8ck+5T"
	 crossorigin="anonymous"></script>
	<script>
		$(window).scroll(function () {
			var scroll = $(window).scrollTop();

			if (scroll >= 370) {
				$("nav").addClass("whitebg");
			} else {
				$("nav").removeClass("whitebg");
			}
		});
	</script>
</body>

</html>