 {% extends "base.html" %} {% block title %} Home {% endblock %} {% block pagetitle %}Home{% endblock %} {% load static %}
{% block javascript %}
<script>
  var infinite = new Waypoint.Infinite({
    element: $('.infinite-container')[0],
    onBeforePageLoad: function () {
      $('.loading').show();
    },
    onAfterPageLoad: function ($items) {
      $('.loading').hide();
    }
  });
</script> {% endblock %} {% block content %}
<section class="main-image" style="height: 400px; position: relative;">
  <img src="/media/{{impresult.photo_original}}" class="img-fluid" style="height: 400px; width: 100%; object-fit: cover">
  <span style="float:left; width: 100%; text-align:right; color:#ffffff; position: absolute; bottom: 0; padding-right: 10px; padding-bottom: 10px;"><a href="/media/{{impresult.photo_original}}" download="/media/{{impresult.photo_original}}" style="color: #ffffff;"><i class="fa fa-eye"></i></a>
    <a href="#" style="color:#ffffff">Viewed: {{impresult.product_impe}} times</a>
  </span>
  <a href="#" class="btn btn-primary download">Download Image</a>
</section>
<section class="py-5">
  <div class="container">
    <div class="card-columns infinite-container">
      {% for img in imgs %}
        <div class="card card-pin infinite-item">
            <a href="{{img.product_type}}/{{img.seo_slug}}" class="d-block">
          <img class="card-img" src="/media/{{img.photo_medium}}" alt="Card image">
        </a>
        </div>
      {% endfor %}
    </div>
  </div>
</section>
{% if imgs.has_next %}
<a class="infinite-more-link" href="?page={{ imgs.next_page_number }}">More</a>
{% endif %}
<div class="loading" style="display: none;">
  Loading...
</div>
{% endblock %}