 {% extends "base.html" %} {% block title %} Home {% endblock %} {% block content %}

<section class="py-5">
    <div class="container">
        <div class="row">
            <div class="col">
                <img src="/media/{{product.photo_original}}" class="img-fluid">
            </div>
            <div class="col-md-3">
                <div id="accordion" class="accordion">
                    <div class="card mb-0">
                        <div class="card-header" data-toggle="collapse" href="#collapseOne">
                            <a class="card-title">
                                Download
                            </a>
                        </div>
                        <div id="collapseOne" class="card-body collapse in show" data-parent="#accordion">
                            <div class="btn-group-vertical btn-block">
                                <a class="btn btn-outline-secondary" href="/media/{{product.photo_original}}" download="/media/{{product.photo_original}}">Download(large)</a>
                                <a class="btn btn-outline-secondary" href="/media/{{product.photo_medium}}" download="/media/{{product.photo_medium}}">Download(medium)</a>
                                <a class="btn btn-outline-secondary" href="/media/{{product.photo_thumb}}" download="/media/{{product.photo_thumb}}">Download(thumb)</a>
                            </div>
                        </div>

                    </div>
                </div>
                <div class="mt-4" style="float: left; width: 100%">
                    <img src="http://wininlifebaltimore.com/wp-content/uploads/2012/08/sample-sidebar-ad.jpg" class="img-fluid">
                </div>
            </div>
        </div>
    </div>
</section>

<style>
    body {
        padding-top: 50px;
    }

    nav {
        background-color: #ffffff;
        transition: 1s all;
        box-shadow: rgba(218, 218, 218, 0.68) 0px 5px 10px -3px;
    }

    nav .navbar-brand {
        color: #000;
        transition: 1s all;
    }

    nav .navbar-nav a {
        color: #000;
        transition: 1s all;
    }

    nav .navbar-nav .dropdown-menu a {
        color: #808080;
        transition: 1s all;
    }
</style>
{% endblock %}