 {% extends "base.html" %} {% block title %} Home {% endblock %} {% block content %}




<section class="py-5">
	<div class="container">
		<div class="card-columns infinite-container">
			{% for p in result %}
			<div class="card card-pin infinite-item">
				<a href="{{p.seo_slug}}" class="d-block">
					<img class="card-img" src="/media/{{p.photo_original}}" alt="Card image">
				</a>
			</div>
			{% endfor %}
		</div>
	</div>
</section>

<style>
	body {
		padding-top: 50px;
	}

	nav {
		background-color: #ffffff;
		transition: 1s all;
		box-shadow: rgba(218, 218, 218, 0.68) 0px 5px 10px -3px;
	}

	nav .navbar-brand {
		color: #000;
		transition: 1s all;
	}

	nav .navbar-nav a {
		color: #000;
		transition: 1s all;
	}

	nav .navbar-nav .dropdown-menu a {
		color: #808080;
		transition: 1s all;
	}
</style>

{% endblock %}